<div class="row">
  <div *ngIf="user$ | async as user" class="col-6 offset-3 mt-3">
    <h2>Update / Create User</h2>
    <form #userForm="ngForm" (ngSubmit)="onUpdate(userForm, user)">
      <input name="id" type="hidden" [(ngModel)]="user.id">
      <div class="form-group">
        <label>Name</label>
        <!-- Validation: min 8 char, max 40 char, required -->
        <input class="form-control" type="text" name="name" [(ngModel)]="user.name" pattern=".{8,40}"
          placeholder="Sample Name" required>
        <div [hidden]="userForm.controls.name?.valid || userForm.controls.name?.pristine" class="error-feedback">
          Name must be 8-40 characters long
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <!-- Validation: valid email, required.
          Help: https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript -->
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email"
          pattern="^[a-z0-9.-_]{2,}@{1}[a-z0-9.-]{2,}\.{1}[a-z]{2,4}$" placeholder="sample12345@samplemail.com"
          required>
        <div [hidden]="userForm.controls.email?.valid || userForm.controls.email?.pristine" class="error-feedback">
          Wrong email format | recommended format: sample12345@samplemail.com
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <!-- Validation: min 8 char, max 100 char, required -->
        <input class="form-control" type="text" name="address" [(ngModel)]="user.address" pattern=".{8,100}"
          placeholder="00. Sample Street" required>
        <div [hidden]="userForm.controls.address?.valid || userForm.controls.address?.pristine" class="error-feedback">
          Address must be 8-100 characters long
        </div>
      </div>
      <div class="form-group">
        <label>Active</label>
        <!-- No validation. -->
        <select [(ngModel)]="user.active" name="active" class="form-control">
          <option [ngValue]="true">active</option>
          <option [ngValue]="false">inactive</option>
        </select>
      </div>
      <button *ngIf="user.id == 0" [disabled]="userForm.invalid || submitted" type="submit"
        class="btn btn-success btn-block mt-5">
        <i *ngIf="!submitted" class="fa fa-save"></i>
        <i *ngIf="submitted" class="fa fa-refresh"></i>
      </button>
      <button *ngIf="user.id != 0" [disabled]="userForm.invalid || submitted" type="submit"
        class="btn btn-primary btn-block mt-5">
        <i *ngIf="!submitted" class="fa fa-save"></i>
        <i *ngIf="submitted" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>